@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import "tooltip.scss";

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  font-family: Golos Text, sans-serif !important;
  overflow: hidden;
  height: 100dvh;
  max-height: 100dvh;
  background:  #312787;
}

#app{
  max-height: 100dvh;
  height: 100dvh;
  overflow: hidden;
}

a{
  text-decoration: none;
}